/* General styles */
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  padding: 10px;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  color: rgb(245, 246, 246);
}

a {
  color: rgb(75, 90, 146);
  text-decoration: none;
}

ul {
  list-style-type: none;

  padding-left: 0;
}

li {
  padding: 10px;
  border-bottom: 3px dotted #ccc;
}

/* Header styles */
.logo img {
  width: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.select-category {
  padding: 5px;
  border: 1px solid rgb(113, 110, 110);
  border-radius: 20px;
  background-color: rgb(137, 153, 186);
}

.search-input {
  padding: 5px;
  margin: 10px;
  border: 4px solid rgb(113, 110, 110);
  border-radius: 20px;
  width: 60%;
}

.chuck-picture img {
  width: 150px;
  border-radius: 200px;
}

/* Main styles */
.heart {
  font-size: 30px;
  cursor: pointer;
}

.facts-board {
  margin-top: 10px;
  margin-bottom: 10px;
}

.generate-fact-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3c499d;
  cursor: pointer;
}

/* Footer styles */
.press-r {
  color: #888;
}

.copychuck {
  font-size: 12px;
}

.favorites-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.favorite-button {
  color: rgb(85, 84, 84);
  cursor: pointer;
  border: 1px black solid;
  border-radius: 10px;
  width: 200px;

  margin: 10px auto 0px auto;
}

/* Media queries */
@media (max-width: 768px) {
  .search-input {
    margin-bottom: 0px;
  }

  .title {
    padding: 0;
  }

  .title h2 {
    margin-bottom: 2px;
  }

  .title p {
    margin-top: 2px;
  }

  .press-r {
    display: none;
  }

  .copychuck {
    display: none;
  }

  #root {
    padding: 0px;
  }
}

@media (max-width: 480px) {
  .title p {
    display: none;
  }

  .chuck-picture {
    margin-top: 20px;
  }
}